{% extends 'base.html.twig' %}

{% block title %}New Member{% endblock %}

{% block body %}


<div class="container" style="margin-top: 100px; padding-top: 30px;">
    <div class="card" style="margin-bottom:89px;">
        <div class="card-header text-white bg-dark">
            <h3> New member </h3>
        </div>
        <ul class="list-group list-group-flush">
            {{ form_start(form) }}
            <li class="list-group-item"> {{ form_widget(form) }}</li>
            {{ form_end(form) }}
        </ul>
    </div>
</div>



{% endblock %}
