<!-- Footer -->
<footer class="page-footer font-small teal shadow p-3" style="margin-top: auto;">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Handige links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Veelgestelde vragen</a>
            </li>
            <li>
              <a href="#!">Huisregels</a>
            </li>
            <li>
              <a href="#!">Voorwaarden</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Officiele links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Privacybeleid</a>
            </li>
            <li>
              <a href="#!">Cookies</a>
            </li>
            <li>
              <a href="#!">Contact</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="#"> Zilveren Kruis</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->