<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark default-color">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="{{ asset('home') }}"><img src="{{ asset('images/logo.png') }}" style="margin-right:20px;" alt="Logo van TrainingFactory"></a>
        
  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ asset('home') }}">Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lessen</a>
      </li>

     <!-- Icon -->
    <ul class="navbar-nav xl-auto nav-flex-icons dropright">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="fa fa-user"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item waves-effect waves-light" href="{{ path('logout') }}">Uitloggen</a>
              <a class="dropdown-item waves-effect waves-light" href="#">Wijzig profielinformatie</a>
            </div>
          </li>
        </ul>

    </ul>

    <!-- Links -->

    <form class="form-inline">
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      </div>
    </form>
  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->