body {
    background-image: url('../images/greyBg.png');
    background-repeat: repeat;
}

footer {
    background-image: url('../images/navBg.jpg');
    background-repeat: repeat;
}

nav {
    background-image: url('../images/navBg.jpg');
    background-repeat: repeat;
    color: black;
}