

body {
    background-image: url('../images/greyBg.png');
    background-repeat: repeat;
}

footer {
    background-image: url('../images/navBg.jpg');
    background-repeat: repeat;
}

nav {
    background-image: url('../images/navBg.jpg');
    background-repeat: repeat;
    color: black;
}

canvas {
    border: 1px solid #999;
}

.sectionTitle {
    text-transform: uppercase;
    font-style: italic;
    font-family: 'Passion One', cursive;
    margin-bottom: 42px;
}

.sectionTitle span {
    color: #2bafb4;
}

.titleTop {
    color: #201f1f;
    font-weight: 600;
    margin-left: 23px;
    line-height: 20px;
    text-transform: uppercase;
}

p {
    font-size: 18px;
    line-height: 28px;
}

#about {
    position: relative;
}

.about p {
    margin-bottom: 35px;
}

.about p:last-child {
    margin-bottom: 50px;
}

.about .titleTop {
    margin-left: 12px;
}

