{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div class="card" style="margin-top:40px; margin-bottom:40px;">
  <div class="card-body">
    <section class="detailContent_section">

<h3>Privacyverklaring</h3>

<p>De manier waarop we met uw persoonsgegevens omgaan, hebben we vastgelegd in een&nbsp;<a href="#" target="_blank">privacyverklaring</a>. Hierin leest u wat voor gegevens wij van u verwerken, hoe wij daarmee omgaan en wat u van ons mag verwachten. Natuurlijk houden we ons aan de daarvoor geldende wetten en regels en aan strenge beveiligingseisen.</p>

<h3>Beveiligde site</h3>

<p>Ook de site die u nu bezoekt en gebruikt, is natuurlijk beveiligd. Wij verzamelen en analyseren de gegevens over uw bezoek aan deze website om de site te verbeteren en aan uw gebruikswensen aan te passen. Deze gegevens worden verzameld met behulp van&nbsp;<a href="{{ asset('cookies') }}">cookies</a>. Hierbij verzamelen wij geen persoonlijke gegevens. Mocht u bezwaar hebben tegen het gebruik van deze cookies, dan kunt u in uw eigen browser ‘cookies accepteren’ uitschakelen.</p>

<h3>Vragen of opmerkingen?</h3>

<p>Wilt u meer weten over uw rechten of over hoe wij omgaan met uw privacy? Of hebt u andere vragen over uw privacy? Wij beantwoorden graag uw vraag. In het overzicht <a href="#">veelgestelde vragen</a> kunt u kijken of het antwoord op uw vraag misschien al gegeven is. Staat uw vraag hier niet tussen? Neem dan contact op met uw Regionale TrainingFactory gym of met onze Functionaris Gegevensbescherming via <a href="mailto:privacy@zilverenkruis.nl">privacy@zilverenkruis.nl</a>&nbsp; Per post mag natuurlijk ook. Het adres is Postbus 15, 9400 AA, Assen. Wij zorgen ervoor dat uw vraag bij de juiste persoon terechtkomt. Om inzage te krijgen in uw gegevens of deze te verwijderen kunt u gebruik maken van het webformulier&nbsp;'<a href="/privacy-keuzes">Uw privacyrechten</a>'.</p>  </section>
  </div>
</div>
{% endblock %}
