{% extends 'base.html.twig' %}

{% block title %}Cookies informatie{% endblock %}

{% block body %}
<body class="grey lighten-3">
<div class="container">
  <div class="card" style="margin-top:100px; margin-bottom:10px;">
    <h1 style="font-size: 40px; margin-left:20px; margin-top:30px;"><b>Begrijp cookies beter!</b></h1>
    <div class="card-body">
      <div class="field-item even" property="content:encoded">
        <p>Als u een website bezoekt, kan deze cookies op uw computer, tablet of smartphone plaatsen. Hieronder leest u
          wat dat zijn, wat u eraan hebt en wat u ertegen kunt doen. &nbsp;</p>

        <p>Een cookie is een klein tekstbestand met informatie erop. Die informatie gaat over uw gedrag op de website.
          Bijvoorbeeld welke pagina’s u hebt bekeken en welke gegevens u hebt ingevuld. De website kan deze informatie
          gebruiken als u de site opnieuw bezoekt.</p>

        <h2>Waarom plaatst een website cookies?</h2>

        <p>Een website-eigenaar kan om verschillende redenen cookies plaatsen. Bijvoorbeeld om:</p>

        <ul>
          <li>de website beter te laten werken. Of om het makkelijker te maken om de website te gebruiken. De cookie
            onthoudt bijvoorbeeld uw inloggegevens. Daardoor hoeft u de volgende keer niet opnieuw in te loggen.</li>
          <li>advertenties of informatie te tonen die passen bij de pagina’s die u hebt bezocht. De cookie onthoudt
            bijvoorbeeld welke producten u hebt bekeken in een webwinkel. Daarna krijgt u suggesties te zien van
            producten die daarop lijken.</li>
        </ul>
        <p>Een website-eigenaar kan ook andere bedrijven toestaan om geplaatste cookies te lezen of zelf cookies te
          plaatsen. Zo verzamelen deze bedrijven persoonlijke informatie over u. Die kunnen zij bijvoorbeeld gebruiken
          om u gerichte reclame of berichten te tonen op andere websites die u bezoekt.</p>

        <h2>Welke regels gelden er voor het plaatsen van cookies?</h2>

        <p>Als een website-eigenaar cookies plaatst, gelden de volgende regels:</p>

        <ul>
          <li>De website moet aan u melden om wat voor cookies het gaat en waarvoor deze worden gebruikt.</li>
          <li>De website moet u toestemming vragen voor het plaatsen van de cookies. Ook moet duidelijk zijn hoe u die
            toestemming kunt geven.</li>
        </ul>
        <p>Vaak verschijnt er een apart scherm met deze cookiemelding. Soms kunt u daar op akkoord klikken. Of er staat
          dat u akkoord gaat zodra u de website gebruikt. Dat mag alleen als de website-eigenaar u duidelijk heeft
          verteld dat u op die manier toestemming geeft voor het plaatsen van de cookies.</p>

        <h2>Voor welke soort cookies is geen toestemming nodig?</h2>

        <p>Een website hoeft geen toestemming te vragen voor het plaatsen van een cookie:</p>

        <ul>
          <li>als deze cookie nodig is om de website goed te laten werken. Of om een online dienst te leveren die u
            zelf heeft aangevraagd. Denk aan cookies die worden gebruikt voor internetbankieren of om af te rekenen in
            een webshop.</li>
          <li>als de cookie wordt gebruikt om te onderzoeken of de website gebruikersvriendelijk is. De cookie bekijkt
            dan bijvoorbeeld hoe bezoekers op bepaalde pagina’s terechtkomen. Die informatie kan de website-eigenaar
            gebruiken om (de indeling van) de website te verbeteren. Het plaatsen van zo’n cookie mag alleen als dat
            niet te veel inbreuk maakt op uw privacy. De website-eigenaar mag de informatie op de cookie niet gebruiken
            om een persoonlijk profiel van uw internetgebruik op te stellen. Ook mag hij deze informatie niet zomaar
            delen met andere bedrijven.</li>
        </ul>
        <h2>Hoe lang geldt mijn toestemming?</h2>

        <p>Een website slaat uw toestemming meestal op in een cookie. Uw toestemming geldt dan zolang deze cookie op uw
          computer, tablet of smartphone staat. Daardoor hoeft u niet bij elk bezoek opnieuw toestemming te geven.
          Vooraf moet de website vermelden hoe lang de toestemmingscookie wordt bewaard.</p>

        <p>Hebt u toestemming gegeven, maar wilt u daar weer van af? Dan kunt u de cookie van uw computer, tablet of
          smartphone verwijderen. Ook kunt u bepaalde cookies standaard blokkeren.</p>

        <h2>Hoe verwijder of blokkeer ik cookies?</h2>

        <p>Hoe u een cookie verwijdert of blokkeert, hangt af van de internetbrowser die u gebruikt. Een
          internetbrowser is het programma waarmee u websites bekijkt, zoals Internet Explorer, Mozilla Firefox of
          Safari. U kunt in de helpfunctie van uw internetbrowser opzoeken hoe u cookies verwijdert of blokkeert. Op de
          website <a class="texts-link" href="https://veiliginternetten.nl/themes/situatie/instructiefilmpjes-cookies-beheren/">Veiliginternetten.nl</a>
          leest u hier meer over.</p>

        <h2>Mag een website mij toegang weigeren als ik geen toestemming voor cookies geef?</h2>

        <p>Websites van overheidsinstellingen moeten u altijd toegang geven, ook als u geen cookies wilt. Bijvoorbeeld
          de website van uw gemeente. Andere websites hoeven u geen toegang te geven als u cookies weigert. Maar de
          toezichthouder Autoriteit Consument &amp; Markt (ACM) moedigt websites wel aan om iedereen toegang te geven.</p>


        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>
</body>
{% endblock %}