{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}
{% block body %}

<body class="grey lighten-3">
    <div class="container">
        <div class="card" style="margin-top:100px; margin-bottom:10px;">
            <div class="card-body">
                <div class="field-item even" property="content:encoded">
                    <h2 class="card-title">Huisregels - Doe alsof je thuis bent</h2>


                    <p>Om het bezoek aan onze clubs voor iedereen plezierig te maken en te houden, hebben we een aantal
                        huisregels opgesteld.&nbsp;We vinden het namelijk belangrijk dat je in een&nbsp;sportieve en
                        gezellige omgeving kunt komen sporten.&nbsp;</p>
                    <ul>
                        <li>Gebruik tijdens het trainen altijd een handdoek en leg deze op de fitnessapparatuur. Leg
                            bij alle grondoefeningen een handdoek op de vloer, waar je de oefening op uitvoert.</li>
                        <li>Losse onderdelen (gewichten, dumbbells etc.) leg je na gebruik terug op hun plaats.</li>
                        <li>Berg je waardevolle spullen, jassen, tassen of andere kledingsstukken op in de kluisjes en
                            neem het niet mee naar de trainingsruimte. Na sluitingstijd worden alle kluisjes geopend
                            door ons personeel.&nbsp;</li>
                        <li>Draag correcte en veilige sportkleding en gebruik goede en schone sportschoenen.</li>
                        <li>In de trainingsruimte mag je geen petjes, caps of andere hoofdbedekking dragen met
                            uitzondering van hoofddeksels die gedragen worden op basis van godsdienst.</li>
                        <li>Bellen is niet toegestaan in de trainingsruimte. Mobiele audioapparatuur, om muziek te
                            luisteren, is wel toegestaan.</li>
                        <li>Etenswaren zijn alleen toegestaan in onze social corner.&nbsp;</li>
                        <li>Gebruik in de trainingsruimte afsluitbare drinkbekers (bidons).</li>
                        <li>Val andere sporters niet lastig.</li>
                        <li>Groepsvorming is alleen toegestaan in onze social corner.&nbsp;</li>
                        <li>Het gebruik van en de handel in verdovende middelen is verboden.</li>
                        <li>Roken en het gebruik van alcohol zijn niet toegestaan.</li>
                        <li>Het is niet een geschikte omgeving voor huisdieren. Deze zijn daarom niet toegestaan en kun
                            je beter thuis laten.&nbsp;</li>
                        <li>Deelname aan trainingen en gebruikmaking van onze apparatuur gebeurt geheel op eigen
                            verantwoordelijkheid. Als je voor de eerste keer gebruik maakt van onze apparatuur, dan
                            adviseren wij je dwingend de assistentie van één van onze medewerkers te vragen voordat je
                            aan de slag gaat.&nbsp;</li>
                        <li>De directie is niet aansprakelijk voor verlies, diefstal en ongevallen in en om het
                            fitnesscentrum.</li>
                    </ul>
                    <p>&nbsp;</p>
                    <p>Het in strijd handelen met bovenstaande regels kan intrekking van de lidmaatschapspas tot gevolg
                        hebben, zonder restitutie van het lidmaatschapsgeld.</p>
                    <p>Wanneer je bij Training Factory sport ga je akkoord met deze huisregels, zo ook opgenomen in
                        onze <a href="/algemene-voorwaarden">algemene voorwaarden</a>.&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}