{% extends 'base.html.twig' %}

{% block title %}Home - TrainingFactory{% endblock %}

{% block body %}

<img src="../images/header1.jpg" class="img-fluid" alt="Responsive image">

<div class="card" style="margin-top: 5%; margin-bottom: 5%;">
  <div class="card-body">
    Eerst proberen? Vraag hier jouw gratis dagpas aan! &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>#voeljegoed</b>  <a href="#" style="float:right;"> > Lees meer... </a> 
  </div>
</div>

<div class="row">
  <div class="col-sm-6 mb-3 mb-md-0">
    <div class="card" style="margin-top: 5%; margin-bottom: 5%;">
      <div class="card-body">
        <h5 class="card-title">Wij helpen je</h5>
        <p class="card-text">met een vliegende start! Wij bieden een helper aan voor 15% korting!</p>
       <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal">
        Read more
        </button>

        <!-- Modal -->
        <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card" style="margin-top: 5%; margin-bottom: 5%;">
      <div class="card-body">
        <h5 class="card-title">Jaarpas heeft veranderingen</h5>
        <p class="card-text">Wij gaan het jaarpas veranderen naar een maandpas</p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal">
        Read more
        </button>

        <!-- Modal -->
        <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
