{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<section id="schemas" class="class pad-top-115 pad-bottom-115">
    <div class="container pr">
        <div class="secHead wow fadeInLeft  animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
            <div class="skewpink"></div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="titleText">
                        <h6 class="titleTop">Bekijk</h6>
                        <h2 class="sectionTitle">ons <span> rooster</span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row wow fadeInUp  animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
            <div id="filters" class="button-group isogrp" data-option-key="filter">
                <button class="button is-checked" data-filter=".mon"><span>Ma</span></button>
                <button class="button" data-filter=".tue"><span>Di</span></button>
                <button class="button" data-filter=".wed"><span>Wo</span></button>
                <button class="button" data-filter=".thu"><span>Do</span></button>
                <button class="button" data-filter=".fri"><span>Vr</span></button>
                <button class="button" data-filter=".sat"><span>Za</span></button>
                <button class="button" data-filter=".sun"><span>Zo</span></button>
            </div>
            <div id="classbox" class="grid clickable clearfix">
                <div class="elemnt celement col-lg-3 col-md-4 col-sm-4 col-xs-12 transition mon">
                    <div class="element">
                        <div class="blckbox">
                            <h6>Ma 19:00 - 20:30</h6>
                        </div>
                        <h4><br><br><br>Bokszaktraining</h4>
                        <p>LADIES ONLY!</p>
                    </div>
                </div>
                <div class="elemnt celement col-lg-3 col-md-4 col-sm-4 col-xs-12 transition tue">
                    <div class="element">
                        <div class="blckbox">
                            <h6>Di 19:00 - 20:00 </h6>
                        </div>
                        <h4><br><br><br>Kickboks</h4>
                        <p>Alle leeftijden</p>
                    </div>
                </div>
                <div class="elemnt celement col-lg-3 col-md-4 col-sm-4 col-xs-12 transition tue">
                    <div class="element">
                        <div class="blckbox">
                            <h6>Di 20:00 - 20:30 </h6>
                        </div>
                        <h4><br><br><br>Bokzaktraining</h4>
                        <p></p>
                    </div>
                </div>
                <div class="elemnt celement col-lg-3 col-md-4 col-sm-4 col-xs-12 transition wed">
                    <div class="element">
                        <div class="blckbox">
                            <h6>Wo 19:00 - 20:00</h6>
                        </div>
                        <h4><br><br>FactoryFit</h4>
                        <p>Circuittraining</p>
                    </div>
                </div>
                <div class="elemnt celement col-lg-3 col-md-4 col-sm-4 col-xs-12 transition wed">
                    <div class="element">
                        <div class="blckbox">
                            <h6>Wo 20:00 - 21:00 </h6>
                        </div>
                        <h4><br><br>Spinning</h4>
                        <p></p>
                    </div>
                </div>
                <div class="elemnt celement col-lg-3 col-md-4 col-sm-4 col-xs-12 transition thu">
                    <div class="element">
                        <div class="blckbox">
                            <h6>Do 19:00 - 20:00 </h6>
                        </div>
                        <h4><br><br>Boksen</h4>
                        <p></p>
                    </div>
                </div>
                <div class="elemnt celement col-lg-3 col-md-4 col-sm-4 col-xs-12 transition thu">
                    <div class="element">
                        <div class="blckbox">
                            <h6>Do 20:00 - 20:30 </h6>
                        </div>
                        <h4><br><br><br>Bokszaktraining</h4>
                        <p></p>
                    </div>
                </div>
                <div class="elemnt celement col-lg-3 col-md-4 col-sm-4 col-xs-12 transition thu">
                    <div class="element">
                        <div class="blckbox">
                            <h6>Do 20:00 - 21:00 </h6>
                        </div>
                        <h4><br><br><br>Spinning</h4>
                        <p></p>
                    </div>
                </div>
                <div class="elemnt celement col-lg-3 col-md-4 col-sm-4 col-xs-12 transition fri">
                    <div class="element">
                        <div class="blckbox">
                            <h6>Vr 19:00 - 20:00</h6>
                        </div>
                        <h4><br><br>Kickboks</h4>
                        <p>Alle leeftijden</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}